<header class="bg-light text-danger text-center py-4">
    <div class="container-fluid">
        <div class="row d-flex align-items-center">
            <div class="col-1 d-flex justify-content-start">
                <img src="mancuernasx128.png" alt="Weights" class="me-3 ms-2">
            </div>
            <div class="col-10 d-flex justify-content-center">
                <h1 class="display-1">
                    <span class="me-5 fw-bolder">{{organization | uppercase}}</span>
                    <span class="me-5 fw-bolder">{{nameBusiness | uppercase}}</span>
                </h1>
            </div>
        </div>
    </div>
</header>