<div class="container-fluid">
    <div class="row mt-4 d-flex gap-3">
      <div class="col-lg-3 col-md-4 me-0">
        <app-activity-calendar (dateSelected)="onDateSelected($event)"></app-activity-calendar>
      </div>
      <div class="col-lg-6 col-md-12 col-12">
        <app-activity-datecarrousel 
            [selectedDate]="selectedDate"
            (daySelected)="onDateSelected($event)"
        />
        <div *ngIf="activitiesListAsync$ | async as activities">
          <ng-container *ngFor="let index of [].constructor(numberActivities); let i = index">
            <app-activity
              (addOrEditActivity)="onAddOrEditActivity($event)" 
              [activityStart]="hoursActivities[i][0]"
              [activityEnd]="hoursActivities[i][1]"
              [isFree]="!activities[i]" 
              [activity]="activities[i] || null"
              class="w-100">
            </app-activity>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <app-activity-modal-dialog></app-activity-modal-dialog>