<section>
    <div class="row g-0 align-items-center justify-content-center">
        <div class="col-sm-2 d-flex justify-content-center py-1 pe-3">
            <i class="fa-solid fa-angles-left fa-2xl" alt="left arrow" (click)="goToPreviousDay()"></i>
        </div>
        <div class="col-sm-6 text-center">
            <h5 class="display-6">{{actualDate}}</h5>
        </div>
        <div class="col-sm-2 d-flex justify-content-center py-1 ps-5" >
            <i class="fa-solid fa-angles-right fa-2xl" alt="right arrow" (click)="goToNextDay()"></i>
        </div>
    </div>
</section>