<div
  class="modal fade"
  id="modalEditar"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" id="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="d-flex justify-content-center gap-3">
          <button type="button" class="btn" data-bs-dismiss="modal">
            ACEPTAR
          </button>
          <button type="button" class="btn" data-bs-dismiss="modal">
            CANCELAR
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
